
.myname {
    text-align: center;
    width: 100%;
    background-color: yeloow;
}
    
h1 {
    color: black;
}


    
    
ul, footer ul {
    font-family:"Papyrus";
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

    
