body {
    font-family: "Noto-sans". sans-serif;  /*Papyrus;*/ /*'Raleway' sans-serif;*/
}

a {
    line-height: 1em;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    font-size: 12px;
    
}

.container {
    position: relative;
    text-align: center;
    /*color: white;*/
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: black;
}

h2 {
    border-top: 2px solid black;
}


    
    
ul, footer ul {
    /*font-family: Papyrus;*/
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

    
